dialog {
  height: 80%;
  width: 80%;
}

dialog::backdrop {
  background-color: gray;
  opacity: 0.9;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 80%;
  height: 60%;
  margin: 30px auto;
}

.containerLeft,
.containerRight {
  height: 100%;
  width: 50%;
}

.formData {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.closeModalBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeModalBtn:hover {
  background-color: red;
}
