.layout {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 500px 1fr;
  justify-content: center;
}

.layout > video {
  margin: 0 auto;
}

.comments {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
