#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  gap: 20px;
  background-color: rgb(75, 49, 224, 0.3);
}

.userButtons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.create-post {
  background-color: lightgrey;
  padding: 10px;
  width: 50vh;
  margin: 0 auto;
}

.post-description {
  width: 300px;
  height: 60px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-title {
  width: 300px;
}

.post-item-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  border: 2px dashed gray;
  background: rgb(223, 219, 219);
  margin: 10px;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

.post-editor-wrapper button {
  display: block;
  margin: 0 auto;
}

.post-comment-wrapper {
  display: flex;
}

.post-comment-media {
  height: 150px;
  margin-right: 10px;
}

.posts-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
}
